doctype html
head
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
title Embroker Insert
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
script(src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')
script(src='./index.js')
script(src='../controllers/web.js')
link(href='./PurpleAdmin-Free-Admin-Template-master/assets/css/main.css' rel='stylesheet')
link(href='../styles/main.css' rel='stylesheet')
header
.frame
img(style='width: 360px; background-size: auto; background-color: black' src='../images/Rented-Mule-Header.png'
alt='Rented Mule Consulting')
button(style='float: right; margin-top: 50px; margin-right: 40px; color: white; background-color:black' type='menu'
onclick="window.location.href ='./new.html'") Main Menu
style.
.bd-placeholder-img {
font-size: 1.125rem
text-anchor: middle
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none

media (min-width: 768px) {
.bd-placeholder-img-lg {
font-size: 3.5rem


.container
.py-5.text-center
img.d-block.mx-auto.mb-4(src='{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/brand/bootstrap-solid.svg' alt=''
width='72' height='72')
h2 Insert Form
p.lead
| The form below will be used to submit test case information for contacts &amp; policies.
form(name='feedback' action='javascript:void(0)')
label
input#yes(type='radio' name='yesOrNo' value='yes' onchange='displayQuestion(this.value)')
| New
| Policy
br
br
label
input#no(type='radio' name='yesOrNo' value='no' onchange='displayQuestion(this.value)')
| New
| Contact
.row
.col
form(name='type')
form.needs-validation(onsubmit='policyFormData()')
#yesQuestion(style='display:none;')
h4.mb-3 Policy Insert
.mb-3
label(for='policyNumber') Policy Number
input#policyNumber.form-control(type='text' placeholder='' value='')
.mb-3
label(for='inceptionDate') Inception Date
input#inceptionDate.form-control(type='date' placeholder='' value='' required='')
.invalid-feedback
| Valid last name is required.
.mb-3
label(for='termType') Term Type
input#termType.form-control(type='text' placeholder='' value='')
.mb-3
label(for='expirationDate') Expiration Date
input#expirationDate.form-control(type='text' placeholder='' value='')
.mb-3
label(for='renewalTermType') Renewal Term Type
input#renewalTermType.form-control(type='text' placeholder='' value='')
.mb-3
label(for='isRenewal') Is Renewal
input#isRenewal.form-control(type='text' placeholder='' value='' required='')
.invalid-feedback
| Valid last name is required.
.mb-3
label(for='underWritingQuestions') Underwriting Questions
input#underwritingQuestions.form-control(type='text' placeholder='' value='')
.mb-3
label(for='asAgent') As Agent
input#asAgent.form-control(type='text' placeholder='' value='')
.mb-3
label(for='manualPolicyNumber') Manual Policy Number
input#manualPolicyNumber.form-control(type='text' placeholder='' value='' required='')
.invalid-feedback
| Valid last name is required.
#noQuestion(style='display:none;')
h4.mb-3 Contact Insert
.mb-3
label(for='firstName') First Name
input#firstName.form-control(type='text' placeholder='First Name' value='' required='')
.invalid-feedback
| Valid first name is required.
.mb-3
label(for='lastName') Last Name
input#lastName.form-control(type='text' placeholder='Last Name' value='' required='')
.invalid-feedback
| Valid last name is required.
.mb-3
label(for='type') Type
input#type.form-control(type='text' placeholder='' value='' required='')
.invalid-feedback
| Valid last name is required.
.mb-3
label(for='dateOfBirth') Date of Birth
input#dateOfBirth.form-control(type='date' placeholder='' value='' required='')
.invalid-feedback
| Valid last name is required.
.mb-3
label(for='socialSecurityNumber') Social Security Number
input#socialSecurityNumber.form-control(type='text' placeholder='123-45-6789' value='' required='')
.invalid-feedback
| Valid last name is required.
.mb-3
label(for='feinTax') Fein Tax
input#feinTax.form-control(type='text' placeholder='' value='' required='')
.invalid-feedback
| Valid last name is required.
.mb-3
label(for='legalEntityType') Legal Entity Type
input#legalEntityType.form-control(type='text' placeholder='' value='' required='')
.invalid-feedback
| Valid last name is required.
.mb-3
label(for='dateBusinessStarted') Date Business Started
input#dateBusinessStarted.form-control(type='date' placeholder='' value='' required='')
.invalid-feedback
| Valid last name is required.
.mb-3
label(for='phones') Phones
input#phones.form-control(type='text' placeholder='' value='' required='')
br
select(for='phoneType')
option#phoneType(value='Work') Work
option#phoneType(value='Home') Home
option#phoneType(value='Cell') Cell
.invalid-feedback
| Valid phone is required.
.mb-3
label(for='email') Email
input#email.form-control(type='email' placeholder='' value='' required='')
.invalid-feedback
| Valid last name is required.
.mb-3
label(for='cognitoUsername') Cognito Username
input#cognitoUsername.form-control(type='text' placeholder='' value='' required='')
.invalid-feedback
| Valid last name is required.
.mb-3
label(for='isGod')
| Is God?
br
br
input(type='radio' cid='yes' name='yesOrNo' value='yes')
emsp True
br
br
input(type='radio' cid='no' name='yesOrNo' value='no')
emsp False
.invalid-feedback
| Valid last name is required.
.mb-3
label(for='roles') Roles
input#roles.form-control(type='text' placeholder='' value='' required='')
.invalid-feedback
| Valid last name is required.
.mb-3
label(for='username') Username
input#username.form-control(type='text' placeholder='' value='' required='')
.invalid-feedback
| Valid last name is required.
.mb-3
label(for='confirmationEmail') Confirmation Email
input#confirmationEmail.form-control(type='text' placeholder='' value='' required='')
.invalid-feedback
| Valid last name is required.
hr.mb-4
button.btn.btn-primary.btn-lg.btn-block(type='submit') Submit